/* ACCOUNT PAGE STYLES */
.main__account{
    padding: 0 2em;
    margin-top: 8em;
    margin-bottom: 2em;
}

.account__greeting{
    font-size: 1.5rem;
}

.account__heading{
    margin-top: 1em;
    font-size: 1.75rem;
    font-weight: 500;
}

.account__container_render{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.account__addnew{
    background-color: var(--dark-mode-btn);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 0.5em;
    padding: 1em;
    border-radius: 0.5em;
}

.account__addnew:active{
    transform: translate(1px, 1px);
}

.account__tools,
.account__search,
.account__search_container,
.account__sort{
    display: flex;
}

.account__tools{
    flex-direction: column;
    gap: 1em;
}

.account__search,
.account__sort{
    gap: 0.5em;
    align-items: center;
}

.account__search_container{
    background-color: white;
    border-radius: 0.5em;
    flex-grow: 2;
}

#search-data{
    padding: 0.25em;
    border-radius: 0.5em;
    border: none;
    flex-grow: 2;
    color: black;
    padding-left: 0.5em;
}

#search-data:focus{
    outline: none;
}

.account__search_btn{
    background-color: white;
    border: none;
    border-radius: 0.5em;
    width: 2em;
}

.account__search_btn *{
    fill: black;
    vertical-align: middle;
}

.account__search:hover *{
    fill: var(--light-mode-green);
}

.account__sort *{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#sort-data{
    padding-right: 1em;
    margin-right: 1em;
    background-color: var(--dark-mode-primary-background);
    flex-grow: 1;
}

.sort-btn-symbol{
    font-size: 1.25rem;
}

.sort-btn.active .sort-btn-symbol{
    fill: var(--dark-mode-green);
}

.account__item{
    background-color: black;
    padding: 0.75em;
    border-radius: 0.5em;
    display: flex;
    justify-content: space-between;
}

.item__functions{
    display: flex;
    gap: 1em;
    align-items: center;
}

.item__functions *{
    animation: none;
}

.item__btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.item__symbol{
    fill: var(--dark-mode-btn-grey);
    font-size: 1.5rem;
}


.item__symbol_delete:hover,
.item__symbol_delete:active{
    fill: var(--dark-mode-btn-red);
}

.item__symbol_show:hover,
.item__symbol_hide:hover,
.item__symbol_edit:hover{
    fill: var(--dark-mode-btn);
}

.item__symbol_hide{
    fill: rgb(0, 139, 139);
}

/*
    ACCOUNT DETAILS
*/
.account__details{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.details__l,
.details__k{
    background-color: var(--dark-mode-secondary-background);
    border: none;
    padding: 0.5em;
    border-radius: 0.5em;
    cursor: pointer;
    margin-left: 0.5em;
    pointer-events: auto;
}

.details__l:active,
.details__k:active{
    transform: translate(1px, 1px);
}

.details__l:hover .details__symbol,
.details__k:hover .details__symbol{
    fill: var(--dark-mode-green);
}

.details__container{
    pointer-events: none;
}

.details__container:hover{
    color: var(--dark-mode-green);
}

/* 
    SIDEBAR
*/
.sidebar{
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--sidebar-background);
    width: 200px;
    padding: 4em 0 0 2em;;
    gap: 1em;
}

.sidebar__link{
    text-decoration: none;
    font-size: 1.25rem;
    display: flex;
    gap: 0.75em;
    align-items: center;
}

.link__symbol{
    font-size: 1.25rem;
}

.sidebar__link_contact{
    position: absolute;
    bottom: 2em;
    font-size: 1rem;
}

.sidebar__toggle{
    background-color: var(--sidebar-background);
    border: none;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    height: min-content;
    width: min-content;
    right: -1em;
    cursor: pointer;
    border-radius: 25%;
    padding: 0 0.1em;
}

.sidebar__symbol{
    fill: white;
    vertical-align: middle;
}

/* 
    LIGHT MODE
*/
.account__addnew,
.account__addnew *{
    color: white;
    stroke: white;
}
.account__item.light{
    background-color: var(--light-mode-secondary-background);
}

.details__l.light,
.details__k.light{
    background-color: var(--light-mode-primary-background);
}

.details__symbol.light{
    fill: var(--light-mode-text);
}

#sort-data.light{
    background-color: white;
}
.sort-btn.active.light .sort-btn-symbol{
    fill: var(--light-mode-green);
}

.sidebar.light,
.sidebar__toggle.light{
    background-color: var(--sidebar-light-background);
}

.sidebar__link.light{
    color: var(--light-mode-text);
}

.sidebar__symbol.light{
    fill: black;
}

@media screen and (min-width: 1000px){
    .account__tools{
        flex-direction: row;
        justify-content: space-between;
        gap: 2em;
    }

    .account__search{
        width: 50%;
    }
}