/* 
    RESET
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: whitesmoke;
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    /* border: 1px solid red; */
}

/* 
    GLOBAL
*/
:root{
    --header-height-margin-mobile: 5.875em 0 0 0; /*4.875em + 1em for the header*/
    --header-height-margin-desktop: 6.875em 0 0 0; /*5.875em + 1em for the header*/
    --dark-mode-primary-background: rgb(25, 25, 35);
    --dark-mode-secondary-background: rgb(38, 38, 52);
    --dark-mode-header-footer: rgb(24 ,24, 30);
    --dark-mode-green: #1BD16A;
    --dark-mode-btn: #168446;
    --dark-mode-red: rgb(209, 0, 0);
    --dark-mode-btn-red: rgb(159,0,0);
    --dark-mode-modal-background: rgba(0, 0, 0, 0.511);
    --dark-mode-btn-grey: rgb(78,78,78);
    
    --light-mode-primary-background: #ECFDF5;
    --light-mode-secondary-background: #c7e3d6;
    --light-mode-header-footer: #e1f5ec;
    --light-mode-text: #2B283A;
    --light-mode-green: #1eb45f;
    /* --light-mode-btn: #80d0a3 ; */
    /* --light-mode-btn-red: rgb(231, 116, 116); */

    --default-outline-style: medium auto black;

    --sidebar-background: rgb(15, 15, 25);
    --sidebar-light-background: #aac9bb;
}

#root{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


body{
    /* background-color: whitesmoke; */
    background-color: var(--dark-mode-primary-background);
    /* padding: 1em 2em; */
}

.main *{
    animation: 1s ease-in-out 0s fadeIn;
}

.main{
    margin: var(--header-height-margin-mobile);
    flex-grow: 1;
}

.btn__theme{
    position: fixed;
    bottom: 0.25em;
    right: 0.25em;
    border: none;
    padding: 0.1em 0.25em;
    border-radius: 0.25em;
    cursor: pointer;
}

.btn__theme:active{
    transform: translate(1px, 1px);
}

.btn__theme_text{
    fill: var(--light-mode-text);
    vertical-align: middle;
}
/* 
    HEADER
*/

.header{
    background-color: var(--dark-mode-header-footer);
    padding: 1em 2em;
    position: fixed;
    width: 100vw;
    top: 0;
}

.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo_container{
    display: flex;
    justify-content: left;
    align-items: center;
    text-decoration: none;
}

.header__logo_img{
    width: 25px;
    transition: width 1s;
}

.logo__container_text{
    overflow: hidden;
    display: flex;
    gap: 0.25em;
    width: 0;
    animation: 1s ease-in collapseLogoText;
}

.logo__text{
    gap: 0.25em;
    font-size: 1rem;
    transition: font-size 1s;
}

.logo__text_green{
    color: var(--dark-mode-green)
}

.header__button{
    background: none;
    border: none;
}

.header__button_img{
    width: 30px;
    vertical-align: middle;
    cursor: pointer;
}

/* Mobile Menu */
.header__menu_mobile{
    margin-top: 0.5em;
}

.header__menu_container_mobile{
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;;
}

/* Desktop Menu */
.header__menu_container_desktop{
    display: flex;
    column-gap: 2em;
}

.menu__item{
    list-style-type: none;
    text-align: right;
    text-decoration: none;
    /* padding: 0 2em 0; */
}

.menu__item a{
    text-decoration: none;
    /* text-transform: capitalize; */
}

.menu__item a:hover,
.menu__item a:active{
    color: var(--dark-mode-green);
    font-weight: 600;
}

/* 
    FOOTER
*/
.footer{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 2em;
    background-color:var(--dark-mode-header-footer);
    /* position: absolute;
    width: 100vw;
    bottom: 0; */
}

.footer a{
    text-decoration: none;
}

/* 
    SIDEBAR
*/
.sidebar{
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--sidebar-background);
    width: 200px;
    padding: 4em 0 0 2em;;
    gap: 1em;
}

.sidebar__link{
    text-decoration: none;
    font-size: 1.25rem;
    display: flex;
    gap: 0.75em;
    align-items: center;
}

.link__symbol{
    font-size: 1.25rem;
}

.sidebar__link_contact{
    position: absolute;
    bottom: 2em;
    font-size: 1rem;
}

.sidebar__toggle{
    background-color: var(--sidebar-background);
    border: none;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    height: min-content;
    width: min-content;
    right: -1em;
    cursor: pointer;
    border-radius: 25%;
    padding: 0 0.1em;
}

.sidebar__symbol{
    fill: white;
    vertical-align: middle;
}

/* 
    MEDIA QUERIES
*/

@media screen and (min-width: 1000px){
    #root{
        max-width: 1000px;
        margin: auto;
    }

    .main{
        margin: var(--header-height-margin-desktop);
        flex-grow: 1;
    }

    .header{
        left: 0;
    }

    .header__logo_img{
        width: 37.5px;
        display: block;
    }
    
    .logo__container_text{
        width: 100%;
        animation: 1s ease-in expandLogoText;
    }

    .logo__text{
        gap: 0.25em;
        font-size: 1.5rem;
    }

    .logo__text_green{
        color: var(--dark-mode-green)
    }

    .header__container{
        max-width: 1000px;
        margin: 0 auto;
    }

    .footer:before{
        content: "";
        position: absolute;
        z-index: -1;
        left: 0;
        right: 0;
        height: 88px;
        margin-top: -2em;
        background-color: var(--dark-mode-header-footer);
    }
}

/* 
    ANIMATIONS
*/

@keyframes expandLogoText{
    0%{
        width: 0%;
    }
    50%{
        width: 50%;
    }
    100%{
        width: 100%;
    }
}

@keyframes collapseLogoText{
    0%{
        width: 100%;
    }
    50%{
        width: 50%;
    }
    100%{
        width: 0;
    }
}

@keyframes notificationSlideUp{
    0%{
        bottom: 3em;
        opacity: 0;
    }
    100%{
        bottom: 7em;
        opacity: 1;
    }
}

@keyframes notificationFadeOut{
    0%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        display: none;
        visibility: hidden;
    }
}

/* 
    LIGHT MODE
*/
body.light{
    background-color: var(--light-mode-primary-background);
}

*.light{
    color: var(--light-mode-text);
}

.logo__text_green.light{
    color: var(--light-mode-green)
}

.header.light,
.footer.light,
.footer.light:before{
    background-color: var(--light-mode-header-footer);
    color: var(--light-mode-text);
}

.header.light *:not(.logo__text_green),
.footer.light *{
    color: var(--light-mode-text);
}

.sidebar.light,
.sidebar__toggle.light{
    background-color: var(--sidebar-light-background);
}

.sidebar__link.light{
    color: var(--light-mode-text);
}

.sidebar__symbol.light{
    fill: black;
}

/* 
    Z-INDEXES
*/

/* Signup page tooltip */
.tooltip{
    z-index: 1;
}

.header{
    z-index: 2;
}

.sidebar{
    z-index: 3;
}

.tester{
    z-index: 4;
}

.tickets__modal_background{
    z-index: 5;
}