/* HOME PAGE STYLES */
.hero,
.reputation,
.offerings{
    padding: 0 2em;
}

.hero__textcontainer{
    display: flex;
    flex-direction: column;
}

.hero__text{
    font-size: 3rem;
    font-weight: 600;
    line-height: 4rem;
    animation: 1s ease-in-out 0s fadeIn;
}

.hero__text_top:before,
.hero__text_middle:before,
.hero__text_bottom:before{
    position: absolute;
    content: '';
    /* background: rgb(36, 36, 45); */
    background: var(--dark-mode-green);
    height: 0.1em;
    z-index: -1;
    left: 0;
    /* duration function delay count name */
    animation: 1s ease-in-out 0s leftSlide;
    margin-top: 0.35em;
}

.hero__text_top:before{
    width: 4.5em;
    top: 2.7em;
}

.hero__text_middle:before{
    width: 5em;
    /* width: 5.75em; */
    top: 4.05em;
    /* top: 3.4em; */
}

.hero__text_bottom:before{
    width: 5.5em;
    /* width: 6.5em; */
    top: 5.37em;
    /* top: 4.75em; */
}

.reputation{
    margin-top: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: var(--dark-mode-secondary-background);
    text-align: center;
}

.reputation__heading,
.offerings__heading,
.signup__heading{
    font-size: 2rem;
    font-weight: 500;
    line-height: 3rem;

}

.reputation__img{
    width: 100%;
    margin-top: 1em;
}

.reputation__text{
    margin-top: 1em;
    /* line-height: */
}

.offerings{
    padding: 2em;
    text-align: center;
}

.offerings__list{
    margin-top: 1em;
    display: flex;
}

.offerings__item{
    list-style-type: none;
    width: 100%;
    padding: 1em;
}

.offerings__item_img{
    width: 50px;
}

.signup{
    /* margin-top: 2em; */
    padding: 2em;
    background-color: var(--dark-mode-secondary-background);
    text-align: center;
}

.signup__link{
    margin-top: 1em;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-decoration: none;
    padding: 0.5em 1em;
    background: var(--dark-mode-btn);
    color: whitesmoke;
    font-weight: 600;
    font-size: 1.25rem;
    border-radius: 0.5em;
    cursor: pointer;
}

/* 
    LIGHT MODE
*/
.reputation.light,
.signup.light{
    background-color: var(--light-mode-secondary-background);
}

/* 
    ANIMATIONS
*/

@keyframes leftSlide{
    0%{
        left: -100%;
    }
    100%{
        left: 0;
    }
}

@keyframes leftSlideLargeScreen{
    0%{
        left: -100%;
    }
    100%{
        left: calc((100vw - 1000px)/2.08);
    }
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* 
    MEDIA QUERIES
    Mobile devices: range from 360×640 to 414×896
    Tablets: range from 601×962 to 1280×800
    Desktop screens: range from 1024×768 to 1920×1080
*/
@media screen and (min-width: 550px){
    .main__home{
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 550px){
    .hero{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .hero__text_top:before,
    .hero__text_middle:before,
    .hero__text_bottom:before{
        top: inherit;
        margin-top: 1.1em;
    }

    .reputation{
        width: 50%;
        background-color: transparent;
    }

    .reputation__heading{
        display: none;
    }

    .offerings{
        background-color: var(--dark-mode-secondary-background);
        flex-grow: 1;
    }

    .offerings.light,
    .offerings.light:before{
        background-color: var(--light-mode-secondary-background);
    }

    .signup{
        background-color: transparent;
        flex-grow: 1;
    }

    .reputation.light,
    .signup.light{
        background-color: var(--light-mode-primary-background);
    }
}

@media screen and (min-width: 800px){
    .hero__text{
        font-size: 4rem;
        line-height: 6rem;
    }
}

@media screen and (min-width: 1000px){
    .hero__text_top:before,
    .hero__text_middle:before,
    .hero__text_bottom:before{
        left: calc((100vw - 1000px)/2.08);
        animation: 1s ease-in-out 0s leftSlideLargeScreen;
    }
    .offerings{
        height: 20em;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .offerings:before{
        content: '';
        position: absolute;
        z-index: -1;
        left: 0;
        right: 0;
        height: 320px;
        background: var(--dark-mode-secondary-background);
    }
    .signup{
        height: 20em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0;
    }
}

