/* RESET PASSWORD STYLES */
.main__reset{
    padding: 0 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    left: 0;
    right: 0;
    margin: auto;
    
}

.reset__heading{
    font-size: 1.5rem;
    font-weight: 600;
    align-self: flex-start;
}

.reset__form{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#email{
    color: black;
}

.reset__error,
.reset__error_link{
    color: red;
}

.reset__error_link{
    cursor: pointer;
}

.reset__btn_submit{
    background-color: var(--dark-mode-btn);
    border: none;
    padding: 0.5em;
    border-radius: 0.5em;
    margin-top: 0.5em;
    cursor: pointer;
}

.reset__btn_submit:active{
    transform: translate(1px, 1px);
}