/* 
    SECRET TOGGLE BUTTON STYLES
*/
.password__btn_show{
    border: none;
    border-radius: 0.5em;
    background: white;
    padding-right: 0.5em;
    cursor: pointer;
    animation: none;
}

.password__btn_show *{
    animation: none;
}

.password__btn_symbol{
    fill: black;
    font-size: 1.5rem;
    vertical-align: middle;
    pointer-events: none;
}

.password__btn_show:active .password__btn_symbol{
    fill: var(--dark-mode-red);
}