/* SIGNUP STYLES */

.main__signup{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-bottom: 2em;
}

.signup__hero{
    display: none;
}

.signup__form{
    display: grid;

    /* grid-template-areas:
    "firstnamelabel lastnamelabel"
    "firstname lastname"
    "emaillabel emaillabel"
    "email email"
    "signupbtn signupbtn"
    ; */

    grid-template-areas:
    "signupheading signupheading"
    "signuptext signuptext"
    "firstnamelabel firstnamelabel"
    "firstname firstname"
    "lastnamelabel lastnamelabel"
    "lastname lastname"
    "emaillabel emaillabel"
    "email email"
    "toggle togglelabel"
    "accountpasswordlabel accountpasswordlabel"
    "accountpassword accountpassword"
    "pass-err pass-err"
    "accountpasswordconfirmlabel accountpasswordconfirmlabel"
    "accountpasswordconfirm accountpasswordconfirm"
    "pass-confirm-err pass-confirm-err"
    "signupbtn signupbtn";

    grid-template-columns: 1em auto;

    width: 100%;
    padding: 0 2em;
    gap: 0.25em;
}

#first-name,
#last-name,
#email,
#account-password,
#account-password-confirm{
    padding: 0.5em 1em;
    border-radius: 0.5em;
    border: none;
}

.signup__label_lastname,
.signup__label_firstname,
.signup__label_email,
#passwordless-toggle,
.signup__label_password,
.signup__label_passwordconfirm,
.signup__btn{
    margin-top: 1.25em;
}

.signup__label_lastname,
.signup__label_firstname,
.signup__label_email,
.signup__label_password,
.signup__label_passwordconfirm{
    display: flex;
    justify-content: space-between;
}

.signup__heading{
    grid-area: signupheading;
}

.signup__text{
    grid-area: signuptext;
}

.signup__label_firstname{
    grid-area: firstnamelabel;
}

.signup__label_lastname{
    grid-area: lastnamelabel;
}

#first-name{
    grid-area: firstname;
}

#last-name{
    grid-area: lastname;
}

.signup__label_email{
    grid-area: emaillabel;
}

#email{
    grid-area: email;
}

#passwordless-toggle{
    grid-area: toggle;
}

.signup__label_passwordless{
    grid-area: togglelabel;
}

#passwordless-toggle,
.signup__label_passwordless{
    justify-self: left;
    margin-top: 0.5em;
    position: relative;
    display: inline-block;
    width: 100%;
}

.tooltip{
    visibility: hidden;
    position: absolute;
    margin-top: 0.5em;
    z-index: 1;
    width: inherit;
    color: white;
    background-color: black;
    border-radius: 0.5em;
    padding: 0.75em;
    opacity: 0;
    transition: opacity 0.2s, visibility 0.2s;
}

.signup__label_passwordless:hover .tooltip{
    visibility: visible;
    opacity: 1;
}


.signup__label_password{
    grid-area: accountpasswordlabel;
}

#account-password{
    grid-area: accountpassword;
}

.signup__password_error{
    display: none;
    grid-area: pass-err;
}

.signup__label_passwordconfirm{
    grid-area: accountpasswordconfirmlabel;
}

#account-password-confirm{
    grid-area: accountpasswordconfirm
}

.signup__passwordconfirm_error{
    display: none;
    grid-area: pass-confirm-err;
}

.signup__password_error,
.signup__passwordconfirm_error{
    border: 2px solid red;
    background-color: rgb(253, 203, 203);
    border-radius: 0.5em;
    padding: 0.5em;
    margin-top: 0.5em;
}

.signup__password_error *,
.signup__passwordconfirm_error *{
    color: red;
    font-weight: 500;
}

.signup__password_error li{
    margin-left: 1.5em;
}

.input-field-error{
    display: none;
}

#first-name,
#last-name,
#email,
#account-password,
#account-password-confirm{
    color: black;
}

.signup__btn{
    grid-area: signupbtn;
    background: var(--dark-mode-btn);
    padding: 0.5em 1em;
    font-weight: 500;
    border-radius: 0.5em;
    border: none;
    cursor: pointer;
}

.signup__btn:active{
    transform: translate(1px, 1px)
}

.input-field-error{
    color: red;
    animation: none;
}

.input-field-error.shake{
    animation: 0.25s linear 0s 3 shake;
}

.signup__success{
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
    text-align: center;
}

.success__img{
    border-radius: 50%;
    width: 3em;
}

.success__msg{
    font-size: 2.5em;
}

@media screen and (min-width: 500px){
    .signup__hero{
        display: block;
        padding-left: 2em;
        display: flex;
        flex-direction: column;
        gap: 1em;
        align-items: center;
        text-align: center;
    }

    .signup__img{
        width: 90%;
    }

    .signup__heading_top,
    .signup__heading_bottom{
        text-decoration: underline;
        text-decoration-color: var(--dark-mode-green)
    }

    /* .signup__heading_bottom:before{
        position: absolute;
        content: "";
        background: var(--dark-mode-green);
        height: 0.15em;
        z-index: -1;
        width: 6.3em;
        top: 21.6em;
        animation: 1s ease-in-out 0s slideInCenter;
    } */
}

@keyframes shake{
    25%{
        transform: translate(1px, 1px);
    }
    50%{
        transform: translate(-1px,-1px);
    }
    75%{
        transform: translate(-1px,1px)
    }
    100%{
        transform: translate(1px,-1px)
    }
}

/* @keyframes slideInCenter{
    0%{
        left: -100%;
    }

    100%{
        left: 0;
    }
} */

.show-test{
    position: relative;
    top: -50px;
    left: 300px;
}