/* TESTING PAGE STYLES */
.main__test{
    display: grid;
    grid-template-areas:
    "testheading testheading"
    "accounts accountdetails"
    ;
    grid-template-rows: auto;
}

.test__heading{
    grid-area: testheading;
    height: 0;
}

.test__accounts{
    grid-area: accounts;
}

.test__accountdetails{
    grid-area: accountdetails;
    background: rgb(45, 45, 118);
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.test__account{
    display: block;
    margin-top: 1em;
    padding: 1em;
    width: max-content;
    border-radius: 1em;
    background-color: rgb(50, 50, 103);
}